In [28]:
name=[]
age=[]
for i in range(3):
    a=input("enter name")
    name.append(a)
    b=input("enter age")
    age.append(b)
print(name)
print(age)

enter nameharsha
enter age18
enter namepriya
enter age18
enter nameanu
enter age19
['harsha', 'priya', 'anu']
['18', '18', '19']

### list

In [15]:
l=[1,2,3,4]
l.insert(0,100)
print(l)
l.remove(2)
print(l)
l.pop(1)
print(l)
l.clear()
print(l)
l.sort()
print(l)

[100, 1, 2, 3, 4]
[100, 1, 3, 4]
[100, 3, 4]
[]
[]

In [21]:
a=[1,5,9,7]
a.sort(reverse=True)
print(a)

[9, 7, 5, 1]

In [27]:
a=[1,10,90]
a.pop(2)
print(a)
a.remove(10)
print(a)

[1, 10]
[1]

In [30]:
a=[10,5,80,75]
a.sort()
print(a)
a[3]

[5, 10, 75, 80]

80

In [2]:
l=[1,2,1,4,5,5,]
l.count(5)
l.index(5,5)

5

In [14]:
l=[1,2,3]
a=l.copy()
print(l)
print(a)
a[0]=1000
print(a)
print(l)

[1, 2, 3]
[1, 2, 3]
[1000, 2, 3]
[1, 2, 3]

In [36]:
a=[4,5,7,6,8]
print(a)
b=a.copy()
print(b)
b[2]=14
print(b)
a.insert(10,20)
print(a)

[4, 5, 7, 6, 8]
[4, 5, 7, 6, 8]
[4, 5, 14, 6, 8]
[4, 5, 7, 6, 8, 20]

### tuple

In [33]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [52]:
t=(1,2,3)
t[0:]
sum(t)
len(t)

3

In [53]:
a=("harsha","524678920")
(name,mobile)=a
name

'harsha'

### dictionaries

### {key:value,key2:value,----}

### dictionaries is mutuable

In [54]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [55]:
d={"name":"harsha","rollno":"1209","age":18}
d.values()

dict_values(['harsha', '1209', 18])

In [56]:
d.keys()

dict_keys(['name', 'rollno', 'age'])

In [57]:
d.items()

dict_items([('name', 'harsha'), ('rollno', '1209'), ('age', 18)])

In [60]:
d["name"]="sri"
d

{'name': 'sri', 'rollno': '1209', 'age': 18}

In [61]:
d["gender"]="F"
d

{'name': 'sri', 'rollno': '1209', 'age': 18, 'gender': 'F'}

In [62]:
d.get("gender")

'F'

In [65]:
d.get(0)

In [66]:
d["name"]="anu"
d

{'name': 'anu', 'rollno': '1209', 'age': 18, 'gender': 'F'}

In [67]:
d.update({"name":"harsha sri"})
d

{'name': 'harsha sri', 'rollno': '1209', 'age': 18, 'gender': 'F'}

In [70]:
d.setdefault("a")
d

{'name': 'harsha sri', 'rollno': '1209', 'age': 18, 'gender': 'F', 'a': None}

In [72]:
d["a"]="a"
d

{'name': 'harsha sri', 'rollno': '1209', 'age': 18, 'gender': 'F', 'a': 'a'}

In [76]:
print(d)
b=d.copy()

b.clear()

{}

In [80]:
l=[1,2]
a=[5,5]
x=dict(zip(a,l))
x

{5: 2}

In [124]:
## check whether the given number is in range
## lb=lowerbound
## ub=upper bound
def bound(n):
    lb=int(input())
    ub=int(input())
    if(n>=lb and n<=ub):
        print("n is in bound")
    else:
        print("n is not in bound")
bound(25)

6
10
n is not in bound

In [125]:
bound(35)

58
89
n is not in bound

In [126]:
bound(10)

9
258
n is in bound

In [105]:
## caluclate the no.of digits 
def count(n):
    count=0
    while n>10:
        n=n//10
        count+=1
    print(count)
count(14523843)

7

In [107]:
len(str(58324))

5

In [115]:
## print the leap year  with in the range
def leapyear(lb,ub):
    for i in range(lb,ub+1):
         if(i%400==0) or( i%4==0 and i%100!=0):
            print(i)
leapyear(1999,2020)

2000
2004
2008
2012
2016
2020

In [137]:
def prime(n):
    count=0
    for i in range(2,n//2+1):
        if(n%i==0):
            count+=1
    if count==0:
        return True
    else:
        return False
prime(4)

False

In [138]:
prime(3)

True

In [9]:
def primeinrange(lb,ub):
    for i in range(lb,ub+1):
        if prime(i):
            print(i)
primeinrange(2,50)

NameError: name 'prime' is not defined

In [3]:
def string(n):
    a=input()
    b=int(input()

        print("True")
    else:
        print("False")

SyntaxError: invalid syntax (<ipython-input-3-031b010b6cad>, line 4)

In [17]:
#given two variables if one the is 10 or
#their sum is equql to 10m return true
#else return false
def number(a,b):
    #a=int(input())
    #b=int(input())
    if(a==10 or b==10 or  a+b==10 ):
        return True
    else:
        return False

In [16]:
number(9,4,6)

False

In [14]:
number(8)

9
6

False

In [18]:
number(9,7)

False

In [19]:
number(6,4)

True

In [27]:
str1="hello"
str2="world"
print(str1+str2)

helloworld

In [57]:
def list(li=[]):
    li.sort()
    print(li)
    print(max(li))
    print(min(li))
    print(li[-2])
    print(li[-5])

In [58]:
list(li=[4,8,50,80,10])

[4, 8, 10, 50, 80]
80
4
50
4

In [64]:
def li(k):
    k=[2,2,4,4,6,6,3]
    k1=[]
    for i in k:
        if i not in k1:
            k.append(i)
        print(k1)

In [ ]:
li()